{{#each ramais}}
<tr>
    <td scope="row">{{setor.nome}}</td>
    <td scope="row">{{nome_func}}</td>
    <td scope="row"><a class="btn btn-outline-danger" href="tel:{{ramal}}">{{ramal}}</a></td>
    <td scope="row"><a class="btn btn-outline-danger" href="mailto:{{email}}">{{email}}</a></td>
{{else}}
    <td> Nenhum ramal encontrado</td>
    <td></td>
    <td></td>
    <td></td>
{{/each}}
</tr>   
