<thead>
    <tr>
        <th scope="col">Setor</th>
        <th scope="col">Fila</th>
        <th vlass="col">Ramal</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td scope="row">{{setor.nome}}</td>
        <td scope="row">{{nome_func}}</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:{{ramal}}">{{ramal}}</a></td>
        <td scope="row"><a class="btn btn-outline-danger" href="mailto:{{email}}">{{email}}</a></td>
    {{else}}
        <td> Nenhum setor encontrado</td>
    {{/each}}
    </tr>
</tbody>