
<nav class="navbar justify-content-center bg-light ">
    <form action="/extrairFunc" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nome do funcionário" onkeyup="sendData(this)" >
        </div>           
    </form> 
</nav>   

<nav class="navbar justify-content-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Filas</button>
        <button class="btn btn-primary" type="button"> Salas</button>
        <div class="dropdown">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                Setores
            </button>
            <form action="" method="post">
                <ul class="dropdown-menu">
                    {{#each setores}}
                    <li><a class="dropdown-item" href="{{_id}}">{{nome}}</a></li>
                    {{else}}
                    <li>Sem setores para listar</li>
                    {{/each}}
                </ul>
            </form>
        </div>
</nav>
{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="card">
    <div class="card-body">  
        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Setor</th>
                <th scope="col">Funcionário</th>
                <th vlass="col">Ramal</th>
                
                <th vlass="col">E-mail</th>
            </tr>
        </thead >
        <tbody id="searchResults">    
            {{>_lista_ramal}}        
        </tbody>            
        </table>
    </div>
</div>
